<a href="https://colab.research.google.com/github/AndreiSantos07/OOP-CPE009B-CPE21S4/blob/main/Laboratory_Activity_3_Inheritance%2C_Encapsulation%2C_and_Abstraction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
class Employee:
    def __init__(self, emp_id, emp_name, emp_address):
        self.__emp_id = emp_id
        self.__emp_name = emp_name
        self.__emp_address = emp_address

class Ftime(Employee):
    def __init__(self, emp_id, emp_name, emp_address, allowance, rate):
        super().__init__(emp_id, emp_name, emp_address)
        self.__allowance = allowance
        self.__rate = rate

class Ptime(Employee):
    def __init__(self, emp_id, emp_name, emp_address, rate):
        super().__init__(emp_id, emp_name, emp_address)
        self.__rate = rate

class Salary:
    def __init__(self, salary_id, Salary, cut_off_date, days_off_work):
        self.__salary_id = salary_id
        self.__Salary = Salary
        self.__cut_off_date = cut_off_date
        self.__days_off_work = days_off_work


fulltime_emp = Ftime(emp_id = "123456",
                     emp_name = "John Michael Doe",
                     emp_address = "Golden Street Quezon City",
                     allowance = 5000, rate = 600)

parttime_emp = Ptime(emp_id="654321",
                     emp_name="Jane Maria Smith",
                     emp_address="Silver Street Quezon City",
                     rate = 700)

ftime_salary = Salary(salary_id="a1b2c3d4",
                      Salary=(fulltime_emp._Ftime__allowance + fulltime_emp._Ftime__rate),
                      cut_off_date="09/30/2024",
                      days_off_work=30)

ptime_salary = Salary(salary_id="e5d4c3b2a1",
                      Salary=parttime_emp._Ptime__rate,
                      cut_off_date="09/15/2024",
                      days_off_work=15)

print("Details for the Employee 1 (Full-time): ")
print(f"  ID: {fulltime_emp._Employee__emp_id}")
print(f"  Name: {fulltime_emp._Employee__emp_name}")
print(f"  Address: {fulltime_emp._Employee__emp_address}")
print(f"  Allowance: {fulltime_emp._Ftime__allowance}")
print(f"  Rate: {fulltime_emp._Ftime__rate}")
print(f"  Salary: {ftime_salary._Salary__Salary}")
print(f"  Cut-off Date: {ftime_salary._Salary__cut_off_date}")
print(f"  Days Off Work: {ftime_salary._Salary__days_off_work}")

print("\nDetails for the Employee 2 (Part-time): ")
print(f"  ID: {parttime_emp._Employee__emp_id}")
print(f"  Name: {parttime_emp._Employee__emp_name}")
print(f"  Address: {parttime_emp._Employee__emp_address}")
print(f"  Rate: {parttime_emp._Ptime__rate}")
print(f"  Salary: {ptime_salary._Salary__Salary}")
print(f"  Cut-off Date: {ptime_salary._Salary__cut_off_date}")
print(f"  Days Off Work: {ptime_salary._Salary__days_off_work}")

Details for the Employee 1 (Full-time):
  ID: 123456
  Name: John Michael Doe
  Address: Golden Street Quezon City
  Allowance: 5000
  Rate: 600
  Salary: 5600
  Cut-off Date: 09/30/2024
  Days Off Work: 30

Details for the Employee 2 (Part-time):
  ID: 654321
  Name: Jane Maria Smith
  Address: Silver Street Quezon City
  Rate: 700
  Salary: 700
  Cut-off Date: 09/15/2024
  Days Off Work: 15